<div class="display" [ngStyle]="{
    'width': width + 'px',
    'height': height + 'px'
}">
  <div class="ceiling" [ngStyle]="{
      'background': 'linear-gradient(0deg, ' + ceilingColorFar + ' 0%, ' + ceilingColorNear + ' 85%, ' + ceilingColorNear + ' 100%)'
    }"></div>
  <div class="floor" [ngStyle]="{
    'background': 'linear-gradient(0deg, ' + floorColorNear + ' 0%, ' + floorColorFar + ' 64%, ' + floorColorFar + ' 100%)'
  }"></div>
  <div class="walls">
    @for (line of vlines; track line.id) {
    <div class="vline" [ngStyle]="{
        'background-color': line.color,
        'height': line.height + '%',
        'width': line.width + 'px'
      }">
    </div>
    }
  </div>
</div>