<div class="display" style="width: {{ width }}px; height: {{ height }}px;">
  <div class="ceiling" style="background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 85%, rgba(9,9,121,1) 100%);"></div>
  <div class="floor" style="background: linear-gradient(0deg, rgba(73,121,9,1) 0%, rgba(8,66,7,1) 64%, rgba(29,48,40,1) 100%);"></div>
  <div class="walls">
    @for (line of vlines; track line.id) {
    <div class="vline"
      style="background-color: {{ line.color }}; height: {{ line.height }}%; width: {{ line.width ?? 2 }}px;">
    </div>
    }
  </div>
</div>